:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
.sidebar {
  display: flex;
  flex-grow: 0.74;
  transition: ease-in-out 0.15s;
  padding: 0.5rem 1rem;
  flex-direction: column;
  position: relative;
  gap: 1.25rem;
  @media (min-width: 768px) {
    flex: 0.33;
    padding: 1rem 2rem;
  }
}
.sidebar-collapsed {
  display: flex;
  flex: 0.05;
  padding: 0;
  position: relative;
  transition: ease-in-out 0.15s;
  @media (min-width: 768px) {
    flex: 0.01;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .sidebar-link {
    @apply flex items-center gap-2 p-2 pr-0 hover:bg-primary-light/40;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
