:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  min-height: 100vh;
  height: fit-content;
  min-height: -webkit-fill-available;
}
/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  min-height: 100vh;
  height: fit-content;
}
.sidebar {
  display: flex;
  transition: ease-in-out 0.15s;
  padding: 0.5rem 1rem;
  flex-direction: column;
  z-index: 999;
  position: absolute;
  left: 0;
  height: 100vh;
  width: 75%;
  gap: 1.25rem;
  backdrop-filter: blur(30px);
  @media (min-width: 768px) {
    position: relative;
    width: 33%;
    padding: 1rem 2rem;
  }
}
.sidebar-collapsed {
  position: relative;
  left: 0;
  display: flex;
  width: 2%;
  padding: 0;
  position: relative;
  transition: ease-in-out 0.15s;
  @media (min-width: 768px) {
    width: 1%;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .sidebar-link {
    @apply flex items-center gap-2 p-2 pr-0 hover:bg-primary-light/40;
  }
  .text-input {
    @apply flex pl-2 border border-2 border-slate-200 rounded-lg w-full h-10 focus:border-0 focus:outline-slate-400 bg-white;
  }

  .with-prefix {
    @apply rounded-tl-none rounded-bl-none border-l-0;
  }
  .with-suffix {
    @apply rounded-tr-none rounded-br-none border-r-0;
  }
  .input-prefix {
    @apply rounded-s-lg bg-slate-100 h-full border border-2 h-full border-r-0 flex border-slate-200 h-[40px] p-2 items-center justify-center;
  }
  .input-suffix {
    @apply rounded-e-lg bg-slate-100 h-full border border-2 h-full border-l-0 flex border-slate-200 h-[40px] p-2 items-center justify-center;
  }
  .input-error {
    @apply border-danger-main outline-danger-main;
  }
  .custom-button {
    @apply p-2 bg-primary-light border border-2 border-primary-light hover:bg-primary-main hover:border-primary-main rounded-lg shadow-lg box-border font-medium cursor-pointer flex justify-center items-center disabled:opacity-[40%] disabled:cursor-not-allowed  disabled:hover:bg-primary-light disabled:hover:border-primary-light;
  }
  .custom-button-secondary {
    @apply p-2 bg-white border border-2 border-primary-light hover:bg-primary-light box-border rounded-lg shadow-lg font-medium cursor-pointer flex justify-center items-center disabled:opacity-[70%] disabled:cursor-not-allowed disabled:hover:bg-white disabled:hover:border-primary-light;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
